    * {
    margin: 0;
    padding: 0;
}

.imagenes-container {
    width: 80%;
    margin: 20px auto;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightgray;
}

.imagen1 {
    grid-column: 1;
    display: flex;
    justify-content: center;
}

.imagen1 img {
    width: 55%;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
}

.imagen2 {
    grid-column: 2;
    display: flex;
    justify-content: center;
}

.imagen2 img {
    width: 55%;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: rgba(9, 62, 177, 0.548);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: burlywood;
    }
    .container-contacto {
        padding: 50px;
    }
    .container-ubicacion {
        padding: 50px;
    }
    .container-redes-sociales {
        padding: 50px;
    }
    .container-redes-sociales img {
        width: 200px;
        border-radius: 30px;
    }
    .conatiner-sugerencias {
        padding: 50px;
    }
    .conatiner-sugerencias input {
        height: 10px;
        padding: 30px;
        border-radius: 20px;
    }
    .boton-sugerencias {
        width: 150px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: rgba(9, 62, 177, 0.548) 3px 4px;
        margin: 0 auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: burlywood;
        background-color: darkblue;
    }